/*
This CV template belongs to aspirity.com, If you like it. Please purchase from aspirity.com, Please support the theme developers. they worth it.  
Copyrights : aspirity.com 
*/
.plerd img{
	height: 20px;
	width: auto;
	display: block;
	filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}